{%extends 'base.html'%} 
{%load bootstrap3}
{% block content %}
{{block.super}}
<div class="container">

  <div class="row">
    {% if searched_articles%}
      <h2>Found {{ searched_articles|length }} of searched term {{message}}</h2>

      
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if searched_articles %}
    {% for article in searched_articles%}
    
      <div class="col-sm-4 col-md-4">
          <h2>{{article.image_name}}</h2>
          <img data-toggle="modal" data-target="#{{article.id}}" style="height: 300px;width: 80%;" src="{{article.image.url}}" alt="">
          <h5>{{article.description|slice:"100"}}...</h5>

        
          <div class="modal fade" id="{{article.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                    <h5 class="modal-title" id="imagetitle">{{article.image_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <img style="width: 80%; height: 300px;" src="{{article.image.url}}" alt="the image" >
                        <p class="text-center">{{article.description}}</p>
                        <p class="text-center">Location: {{article.location}}</p>
                        <p class="text-center">Category: {{article.category}}</p>
                    </div>
                    <div class="modal-footer">
                    
                        <input class="form-control input-lg" type="text"  value="{{article.image.url}}" id="{{article.id}}.url">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success " onclick="copyLink('{{article.id}}.url')">copy</button>

                    </div>
                    {%block script%}
                    <script>
                                                     
                     copyLink = (element) => {
                     document.getElementById(element).select();
                     document.execCommand("copy");
                                                         }
                     </script> 
                     {%endblock%}
                </div>
            </div>
          </div>

      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
